table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

h2 {
    text-align: center;
    color: rgb(5, 29, 5);
    font-size: 30px;
    font-weight: 600;
}

.mat-form-field{
    width: 50%;
}

#addButton {
    background-color: rgb(92, 224, 92);
    color: white;
    border: none;
}

.modal-title {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-left: 30%;
    margin-top: auto;
}

.modal-header {
    height: 60px;
    background-color: rgb(5, 29, 5);
}

.close {
    color: white;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14.28% !important;
  width: 14.28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-enterprise_type {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14.28% !important;
  width: 14.28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-transmission_support {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14.28% !important;
  width: 14.28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-brandwidth {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14% !important;
  width: 14% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-email {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-telephone {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14.28% !important;
  width: 14.28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14.28% !important;
  width: 14.28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a :hover {
    color: gray;
}