<div class="container">
    <h2 style="margin-top: 20px;">
        Liste des routeurs
    </h2>

    <div class="container">
        <div class="d-flex justify-content-between" style="margin-bottom: 15px;">
            <mat-form-field>
                <mat-label>Filtre</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Taper pour filtrer" #input>
            </mat-form-field>

            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)" id="addButton">
                <i class="bi bi-plus-circle" style="margin-right: 8px; font-size:20px;"></i>Enregistrer un routeur
            </button>
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="maker">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fabriquant </th>
                    <td mat-cell *matCellDef="let row"> {{row.maker}} </td>
                </ng-container>

                <ng-container matColumnDef="model">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Modèle </th>
                    <td mat-cell *matCellDef="let row"> {{row.model}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro de série </th>
                    <td mat-cell *matCellDef="let row"> {{row.serial_number}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let row">
                        <a (click)="openEditModal(update, row)" style="margin-right: 40px; color: blue;"><i
                                class="bi bi-pen-fill"></i></a>
                        <a (click)="openDeleteModal(delete, row)" style="color: red;"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Aucun élément correspondant à "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>

<!--  ***********     ADD MODAL   **************     -->
<!--  ***********     ADD MODAL   **************     -->
<!--  ***********     ADD MODAL   **************     -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Enregistrer un routeur</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form #storeForm="ngForm" (ngSubmit)="store()">
            <div class="alert alert-danger" *ngIf="iserror">{{error}}</div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Fabriquant</label>
                <input type="text" class="form-control" name="maker" placeholder=""
                    [(ngModel)]="formData.maker">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Modèle</label>
                <input type="text" class="form-control" name="model" placeholder="" [(ngModel)]="formData.model">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Numéro de série</label>
                <input type="text" class="form-control" name="serial_number" placeholder=""
                    [(ngModel)]="formData.serial_number">
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-danger" (click)="modal.close('Close click')"
                    style="margin-right: 40px;">Annuler</button>
                <button type="submit" class="btn btn-success">Ajouter</button>
            </div>
        </form>
    </div>
</ng-template>


<!--  ***********     DELETE MODAL   **************     -->
<!--  ***********     DELETE MODAL   **************     -->
<!--  ***********     DELETE MODAL   **************     -->

<ng-template #delete let-modal>

    <div class="modal-body">

        <h3 style="text-align: center;">Voulez-vous vraiment supprimer ce routeur ?</h3>

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')"
                style="margin-right: 40px;">Annuler</button>
            <button class="btn btn-danger" (click)="delete_router()">Supprimer</button>
        </div>

    </div>
</ng-template>


<!--  ***********     UPDATE MODAL   **************     -->
<!--  ***********     UPDATE MODAL   **************     -->

<ng-template #update let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Modification du routeur</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form #editForm="ngForm" (ngSubmit)="edit()">
            <div class="alert alert-danger" *ngIf="iserror">{{error}}</div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Fabriquant</label>
                <input type="text" class="form-control" name="maker" [(ngModel)]="element.maker">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Modèle</label>
                <input type="text" class="form-control" name="model" placeholder="" [(ngModel)]="element.model">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Numéro de série</label>
                <input type="text" class="form-control" name="serial_number" placeholder=""
                    [(ngModel)]="element.serial_number">
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-danger" (click)="modal.close('Close click')"
                    style="margin-right: 40px;">Annuler</button>
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
        </form>
    </div>
</ng-template>